# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl
log_dir*/
temp*/

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
3rd_parties

# jupyter
.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*


# data folder
data/
dataset/
datasets/

# evaluation folder
/eval_results

